<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>NewsPulse</title>
</head>
<body>
    <div class="head">
        <div class="nav">
            <li>LOGO</li>
            <li>CONTACT</li>
        </div>
        <div class="main">
            <div class="heading">NEWS PULSE</div>
         <div class="line"></div>
            <div class="nav2">
                <li><a href="/">HOME</a></li>
                <li><a href="/business">BUSINESS</a></li>
                <li><a href="/entertainment">ENTERTAINMMENT</a></li>
                <li><a href="/general">GENERAL</a></li>
                <li><a href="/health">HEALTH</a></li>
                <li><a href="/science">SCIENCE</a></li>
                <li><a href="sports">SPORTS</a></li>
                <li><a href="/technology">TECHNOLOGY</a></li>
                <li>search</li>
            </div>
            <div class="line"></div>
            <div class="hero">
                <div class="left">
                    <div class="headlines" style="color: #666666; font-size: 20px;padding-top: 10px;">Latest Articles</div>
                    <div class="list">
                        <li>The Ultimate Guide to New York’s Favorite Food</li>
                        <li>Salty Peanut-Pretzel Ice Cream Cake</li>
                        <li>A Cool Solution for Hot Summer Nights</li>
                        <li>Full Irish Breakfast In Manhattan</li>
                        <li>Overcoming Your Fear Of The Kitchen</li>
                        <li>Want to Make Creamed Corn Into a Meal? Add Shrimp</li>
                        <li>Why Healthy Eating Doesn’t Mean Dieting</li>
                        <li>A Quick, Satisfying Fix for Weeknight Chicken</li>
                        <li>Fresh Food on TV: Weekend Edition</li>
                    </div>
                </div>
                
                <div class="right">
                    <div class="breakingnews">
                        <div class="headlines">Breaking News</div>
                        <div class="source">
                        <div class="image">
                            <img src="blog-7-1024x779.jpg" alt="">
                            
                        </div>
                        <div class="content">
                            <p style="font-size:2vh;">MAY 13, 2017 | LIFESTYLE, MAIN</p>
                            <h2>Get the Best Catering for Your Summer Wedding in Philly</h2>
                            <p>Etiam eu molestie eros, commodo nec turpis hendrerit sapien. 
                                Maecenas tempus leo ac nisi iaculis porta. Sed sapien tempus.</p>
                                <h5>READ MORE</h4>
                        </div>
                        <div class="content">
                            <p style="font-size:2vh;">JUNE 28, 2017MAIN, SPORTS</p>
                            <h2>The Best College Football Team You’ve Probably Never Heard Of</h2>
                            <p>Aenean rhoncus gravida nisl vel pretium. 
                                Nam ac nisl non ipsum vestibulum vehicula vulputate sagittis magna.</p>
                                <h5>READ MORE</h4>
                        </div>
                        <div class="content">
                            <p style="font-size:2vh;">JUNE 18, 2017MAIN, SPORTS</p>
                            <h2>Liverpool Tops Hoffenheim in First Leg of Champions Playoff</h2>
                            <p>Aenean rhoncus gravida nisl vel pretium. 
                                Nam ac nisl non ipsum vestibulum vehicula vulputate sagittis magna.</p>
                                <h5>READ MORE</h4>
                        </div>

                        </div>
                    </div>
                    <div class="daily">
                        <div class="headlines">Daily feeds</div>
                        <div class="content">
                            <p style="font-size:2vh;">JUNE 18, 2017MAIN, SPORTS</p>
                            <h2>Liverpool Tops Hoffenheim in First Leg of Champions Playoff</h2>
                            <p>Aenean rhoncus gravida nisl vel pretium. 
                                Nam ac nisl non ipsum vestibulum vehicula vulputate sagittis magna.</p>
                                
                        </div>
                        
                        <div class="content">
                            <p style="font-size:2vh;">JUNE 18, 2017MAIN, SPORTS</p>
                            <h2>Liverpool Tops Hoffenheim in First Leg of Champions Playoff</h2>
                            <p>Aenean rhoncus gravida nisl vel pretium. 
                                Nam ac nisl non ipsum vestibulum vehicula vulputate sagittis magna.</p>
                               
                        </div>
                        
                        <div class="content">
                            <p style="font-size:2vh;">JUNE 18, 2017MAIN, SPORTS</p>
                            <h2>Liverpool Tops Hoffenheim in First Leg of Champions Playoff</h2>
                            <p>Aenean rhoncus gravida nisl vel pretium. 
                                Nam ac nisl non ipsum vestibulum vehicula vulputate sagittis magna.</p>
                                
                        </div>
                        <div class="content">
                            <p style="font-size:2vh;">JUNE 18, 2017MAIN, SPORTS</p>
                            <h2>Liverpool Tops Hoffenheim in First Leg of Champions Playoff</h2>
                            <p>Aenean rhoncus gravida nisl vel pretium. 
                                Nam ac nisl non ipsum vestibulum vehicula vulputate sagittis magna.</p>
                                
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>