*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 100%;
}
li{
    width: fit-content;
   text-decoration: none;
   list-style: none;
   padding: 1vh;
   cursor: pointer;
}
.line{
    height: 0.1px;
    width: 100%;
    background-color: #262626;
}
.nav{
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color:#262626;
}
.nav li{
    color: whitesmoke;
}
.main{
    width: 100%;
    height: 100%;
    padding: 0 12%;
}
.heading{
height:fit-content;
text-align: center;
font-size: 70px;
font-weight: 800;
margin-top: 7vh;
}
.headlines{
    font-size: 30px;
font-weight: 800;
margin-bottom: 8px;

}

.nav2{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    margin-top: 2vh;
}
.nav2 li{
    width: fit-content;
    padding: 0;

    height: fit-content;
    margin: 0;

    
}
.hero{
    width: 100%;
    height: 100%;
    display: flex;
}
.hero .left{
    
    width: 22.5%;
    height: 100%;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}
.hero .left .headlines{
    height: fit-content;
}
.hero .right{
    width: 77.5%;
    display: flex;
    height: 100vh;
    padding-top: 5vh;
    
}
.hero .right .breakingnews{
    width: 70%;
   
    padding-right: 0.5vw;
    padding-left: 7%;
    height: fit-content;
   
}
.hero .right .daily{
    width: 30%;
    height: fit-content;
    
    padding-left: 1vw;
    
}
ul{
    width: fit-content;
    height: fit-content;
}
.hero .left .list{
    width: 100%;
    margin-top: 5vh;
    
}
.hero .left .list li{
    width: fit-content;
    list-style-type:disc;
   height: fit-content;
   padding-left:0.1vw;
   cursor: pointer;
   text-align: left;

}
p{
    color: #666666;
    font-size: 2.5vh;
    margin-bottom: 2vh;
    
}
h2{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.content{
    margin-bottom: 5vh;
}
.daily .content h2{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}